header .blocks {
	background: url(../img/i.png) left center no-repeat;
	padding: 8.33333% 4.16667% 8.33333% 36.66667%;
	background-size: 33.91667% auto;
}
#implant .blocks {
	background:  url(../img/eye.jpg) 4.16667% center no-repeat;
	padding: 10% 4.16667% 10% 50%;
	background-size: 41.66667% auto;
}
#cubix .blocks {
	background:  url(../img/a.png) 4.16667% center no-repeat;
	padding: 10% 4.16667% 10% 50%;
	background-size: 41.66667% auto;
}

header:after {
	background-image: url(../img/a.jpg);
}
#implant:after {
	background-image: url(../img/b.jpg);
}
#cubix:after {
	background-image: url(../img/fon.png);
}


footer {
	background: #000000;
}

