header .blocks {
	background: url(../img/fourteen.jpg) left center no-repeat;
	padding: 8.33333% 4.16667% 8.33333% 36.66667%;
	background-size: 33.91667% auto;
}
#implant .blocks {
	background:  url(../img/sixteen.png) 4.16667% center no-repeat;
	padding: 10% 4.16667% 10% 50%;
	background-size: 41.66667% auto;
}

header:after {
	background-image: url(../img/fifteen.jpg);
}
#implant:after {
	background-image: url(../img/seventeen.jpg);
}

footer {
	background: #000000;
}